<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <title>Teacher Home</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.1.1/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.1.1/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.1.7/dist/cdn/material-dynamic-colors.min.js"></script>
</head>
<body class = "dark">
{{define "navbar"}}
<nav class="bottom m l">
    <a class ="" href="./teacherPartners">
        <img src="../static/logo.png" class="circle extra">
    </a>
    <a href="./create">
        <i>create</i>
        <div>Add Partner</div>
    </a>
    <a href="./logout">
        <i>logout</i>
        <div>Logout</div>
    </a>

</nav>
<nav class="bottom s">
    <a href="./home">
        <img src="../static/logo.png" class="circle margin">
    </a>
    <a href="./create">
        <i>create</i>
        <div>Add Partner</div>
    </a>
    <a href="./logout">
        <i>logout</i>
        <div>Logout</div>
    </a>
</nav>
{{end}}
<main class="max">
    {{template "navbar"}}
    <div class="field max large prefix round fill">
        <i class="front">search</i>
        <input placeholder="Search text">
        <div class="dropdown min">
            <header class="fixed">
                <div class="field large prefix suffix no-margin">
                    <i class="front">arrow_backward</i>
                    <input id = "searchbar" onkeyup="

  let input = document.getElementById('searchbar').value
  input=input.toLowerCase();
  let x = document.getElementsByClassName('Event');

  for (i = 0; i < x.length; i++) {
      if (!x[i].id.toLowerCase().includes(input)) {
          x[i].style.display = 'none'
      }
      else {
        x[i].style.display = 'block';
      }
    }
      "

                           placeholder="Search text">
                    <i class="front">close</i>
                </div>
            </header>
        </div>
    </div>
    <div class = "grid-container" style = "display:grid; grid-template-columns: repeat(2, 1fr); column-gap: 0.25%; row-gap: 1.5%; grid-auto-columns: auto auto auto ; grid-auto-flow: row">
        {{range $index, $val := .}}
        <div class = "grid-item" style = "grid-row: auto">
            <article class = "small" class = "Partner" id="{{.Name}}" name="{{.Name}}">
                    <img id = "{{.Name}}img" class="responsive tiny" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F392%2F153%2Foriginal%2Fmodern-company-logo-design-vector.jpg&f=1&nofb=1&ipt=6167019925c3f057feacb64617ee3553359696e0914bfe67a786c84b37f0f5f8&ipo=images">

                    <script>
                        // Get the img object using its Id
                        expanded = false
                        recursive = false;
                        currExpanded = ""

                        // Function to increase image size
                        function enlargeArticle(name) {
                            if (currExpanded !== name && currExpanded !== ""){
                                expanded = true
                                recursive = true;
                                enlargeArticle(currExpanded)
                            }
                            img = document.getElementById(name+"img");
                            art = document.getElementById(name);
                            det = document.getElementById("details"+name)

                            // Set image size to 1.5 times original
                            if (expanded){
                                expanded = false;
                                art.className = "small"
                                img.className = "responsive tiny";
                                art.parentElement.parentElement.className = "grid-container"
                                art.parentElement.parentElement.style = "display:grid; grid-template-columns: repeat(2, 1fr); column-gap: 0.25%; row-gap: 1.5%; grid-auto-columns: auto auto auto ; grid-auto-flow: row"
                                currExpanded = ""
                                if (recursive === true){
                                    det.removeAttribute("open")
                                    recursive = false;
                                }
                            } else {
                                expanded = true

                                art.className = ""
                                art.parentElement.parentElement.style = "display:grid; grid-template-columns: repeat(4, 1fr); column-gap: 0.25%; row-gap: 1.5%; grid-auto-columns: auto auto auto ; grid-auto-flow: row; max-width: 100%"

                                img.className = "responsive fill center";

                                currExpanded = name;


                            }

                        }

                    </script>


                    <form method="post" action="/eventValidation/teacherEvents" class="left-align responsive" id="EventImage">
                        <div class = "wrap blur center max">
                            <h5 id = "PartnerName" value = "{{.Name}}" name = "Name of Organization" class="center"><strong>{{.Name}} </strong></h5>
                            <details id = "details{{.Name}}">
                                <summary onclick="enlargeArticle({{.Name}})">Click to View More Info</summary>
                                <div class="grid">
                                    <div class="s12 l4" hidden>
                                        <div class="field  label border">
                                            <input type="text"
                                                   id="Type" value="{{.Name}}" name="Name of Organization"
                                                   style="clip-path: polygon(0% 0%, 0.75rem 0%, 0.75rem 0.5rem, 3.0625rem 0.5rem, 3.0625rem 0%, 100% 0%, 100% 100%, 0% 100%);">
                                            <label class="active">Name of Organization</label>
                                        </div>
                                    </div>
                                    <div class="s12 l4">
                                        <div class="field  label border">
                                            <input type="text"
                                                   id="Type" value="{{.Type}}" name="Type of Organization"
                                                   style="clip-path: polygon(0% 0%, 0.75rem 0%, 0.75rem 0.5rem, 3.0625rem 0.5rem, 3.0625rem 0%, 100% 0%, 100% 100%, 0% 100%);">
                                            <label class="active">Type of Organization</label>
                                        </div>
                                    </div>
                                    <div class="s12 l4">
                                        <div class="field label border">
                                            <input type="text" id="Email" value="{{.Email}}" name="Email"
                                                   style="clip-path: polygon(0% 0%, 0.75rem 0%, 0.75rem 0.5rem, 3.0625rem 0.5rem, 3.0625rem 0%, 100% 0%, 100% 100%, 0% 100%);">
                                            <label class="active">Email</label>
                                        </div>
                                    </div>
                                    <div class="s12 l4">
                                        <div class="field label border">
                                            <input type="text" id="Phone" value="{{.Phone_Number}}" name="Phone Number"
                                                   style="clip-path: polygon(0% 0%, 0.75rem 0%, 0.75rem 0.5rem, 3.0625rem 0.5rem, 3.0625rem 0%, 100% 0%, 100% 100%, 0% 100%);">
                                            <label class="active">Phone Number</label>
                                        </div>
                                    </div>
                                    {{range $index, $val := .Resources}}
                                    <div class="s12 l4">
                                        <div class="field label border">
                                            <input type="text" id="Resource{{$index}}" value="{{$val}}" name="Resource{{$index}}"
                                                   style="clip-path: polygon(0% 0%, 0.75rem 0%, 0.75rem 0.5rem, 3.0625rem 0.5rem, 3.0625rem 0%, 100% 0%, 100% 100%, 0% 100%);">
                                            <label class="active">Resource</label>
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                                <div class="space"></div>
                                <nav class="center-align">
                                    <button type="reset" class="blur">Reset</button>
                                    <button type="submit" value = "remove" formaction="./create/remove" class="blur">Remove</button>
                                    <button type="submit" class="blur">Save</button>
                                </nav>
                            </details>
                        </div>
                    </form>
            </article>
        </div>
        {{end}}
        <div class="large-space"></div>
        <div class="large-space"></div>
        <div class="large-space"></div>
        <div class="large-space"></div>

    </div>
</main>
</body>
</html>